body
  padding 10px
.fw-form
  margin-bottom 10px

.fw-form-label {
  text-align: right;
  padding: 0;
  line-height: 30px;
  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

[data-error] {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    top: 30px;
    height: 30px;

    background-color: red;
    content: attr(data-error);
  }

  input,
  btn-group {
    outline: red;
  }

}

.panel
  .panel-body
    height auto !important
    max-height none !important

.fw-field {
  position: relative;
  .fw-error {
    position: absolute;
    background-color: #e3e3e3;
    min-height: 20px;
    top:-28px;
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px 10px;
    white-space: nowrap;
    z-index: 99999;
    color: #a90000;
    display: none;
    &:before {
      content: '';
      position: absolute;
      margin-left: 20px;
      border-radius: 3px;
      top:23px;
      border-top: solid 5px #e3e3e3;
      border-right: solid 5px transparent;
      border-left: solid 5px transparent;
    }
  }
  &.has-error {
    .fw-error {
      display: block;
    }
  }
}




.dropzone {
  padding: 0 !important;
  min-height: 100px !important;
  position: relative;
  display: block;
  margin: 10px;
  padding: 0px;
  border-radius: 4px;
  border:dashed 4px #ccc !important;
  color: #ccc;
  width: 120px;
  height: 120px;
  min-height: 100px;
  overflow: hidden;
  .border {
    display: none;
  }
  .dz-preview {
    margin: 5px !important;
    .dz-image {
      width: 100px;
      height: 100px;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .dz-message {
    position: relative;
    top:-7px;
  }
  .dz-default {
    margin: 0px;
    .fa {
      font-size: 4.5em !important;
      position: relative;
      top:7px;
    }
  }
  &.full {
    display: block;
    margin: 0px !important;
    border:none !important;
    border-radius: 0px !important;
    position: fixed;
    z-index: 99999999999999;
    top:0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px !important;

    .border {
      display: block !important;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border:dashed 5px white;
      i {
        font-size: 10em;
        color: white;
        position: relative;
        top:calc(50% - 50px);
        left:calc(50% - 50px);
      }
    }
  }
}

.toggle-group {
       transition: left .2s !important;
  -webkit-transition: left .2s !important;
     -moz-transition: left .2s !important;
}

.fw-form-files {
  //padding-bottom: 150px;
  width: 100%;
  height: auto;
  -webkit-user-select:none;
  -moz-user-select:none;

  > div {
    display: inline-block;
    vertical-align: top;
  }
  .files {
    .file {
      margin-left: 5px;
      margin-top: 5px;
      display: inline-block;
      text-align: center;
      box-shadow: 0px 0px 5px #aaa;
      position: relative;
      width: 120px;
      height: 130px;
      padding: 5px;


      header {
        width: 100%;
        height: 20px;
        >i {
          float: right;
          display: inline-block;
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          opacity:.5;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
      footer {
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        transition: all .1s;
        .view {
          cursor: pointer;
          display: none;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 20px;
          font-size: 2.5em;
        }
        &:hover {
          -webkit-filter: blur(1px);
          -moz-filter: blur(1px);
          .view {
            display: block;
          }
        }
      }

      .red {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: rgba(147, 13, 13, 0.68);
      }
      .number {
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: bold;
        min-width: 20px;
        height: 20px;
        background-color: #fff;
      }
      &.removed {
        footer { opacity: .4; }
        .red {
          display: block;
        }
      }


    }

  }

}

@media screen and (max-width: 600px)
  .note-toolbar
    overflow-x scroll
    height 50px
    white-space nowrap
