@import 'nib'

bgColor = #32373d
pColor = #337ab7
orange = #ff7f00

#chat-ctrl
  z-index: 9
  img
    width 100% !important
    height 100% !important
    border-radius 50% !important

#logout
  position relative
  right 50px

#btn-chat
  position fixed
  width 40px
  height 40px
  right 0
  top 0
  background bgColor
  color #fff
  cursor pointer
  img
    border-radius 0px !important
  i
    font-size 1.5em
    position relative
    top 9px
    left 9px
  .new
    display inline-block
    width auto
    height auto
    border-radius inherit
    position absolute
    left 0
    top 0px
    text-align center
    background-color pColor
    color #fff
    font-size 0.8em
    padding 0 3px
    white-space nowrap

#chats
  overflow-x hidden
  overflow-y scroll
  right -230px
  top 41px
  position fixed
  height calc(100% - 41px)
  background-color bgColor
  z-index 5
  transition right .2s
  width 270px
  &.open
    right -20px
  .about
    border-bottom solid 1px #fff
    height 40px !important
    .btn
      margin-top 2px
      float right
  .icon
    position relative
    vertical-align top
    display inline-block
    width 30px
    height 30px
    border-radius 50%
    margin 2px
    .online
      display inline-block
      width 7px
      height 7px
      border-radius 7px
      background-color #1e771e
      position absolute
      left 1px
      bottom 1px
      border solid 1px #fff
  .new
    display inline-block
    width auto
    height auto
    border-radius inherit
    position absolute
    left 0
    top 0px
    text-align center
    background-color pColor
    color #fff
    font-size 0.7em
    padding 0 3px
    white-space nowrap
  .user, .room, .about
    height 35px
    cursor pointer
    font-size 1.1em
    padding 1px 3px
    color #bbb
    white-space nowrap
    position relative
    &:hover
      background-color #444
    .title
      margin-left 10px
      position relative
      top -5px
      max-width 165px
      overflow hidden
      display inline-block
      vertical-align bottom
    i
      margin 6px 5px
      font-size 1.4em
  .group
    border-top solid 1px #fff
    padding 2px 50px
    color #888

#dialog
  transition all .2s
  display block
  position fixed
  width 400px
  height calc(100% - 45px)
  max-height 500px
  bottom 10px
  margin-bottom 0px
  z-index 3
  font-size 1.0em
  line-height 1.2em
  box-shadow -1px -1px 10px 5px rgba(111, 110, 110, 0.7)
  .panel-heading
    background-color bgColor
    height 40px
    padding 2px 5px
    font-size 1.3em
    > span
      display inline-block
      vertical-align bottom
    > .pull-right
      position absolute
      right 0
      width 35px
      height 40px
      top 0px
      font-size 1.2em
      padding 8px
      color #000
      text-shadow 0 1px 0 #fff
      opacity .3
      cursor pointer
      line-height 1
      font-weight 700
      &.close
        font-size 1.3em
      &.full
      &.no-full
        right 30px
    > .title
      position relative
      top -7px
    > .icon
      width 30px
      height 30px
      margin 3px
      border-radius 50%
      img
        width 100%
        height 100%
        border-radius inherit
      i
        font-size 1.5em

  .panel-body
    position relative
    display block
    height 436px
    .last-messages
      display inline-block
      text-align center
      cursor pointer
      width 100%
    .typing
      img
        float left
        width 25px !important
        height 25px !important
        border-radius 50%
        margin-right 3px
      span
        color rgba(0,0,0,0.5)
        position relative
        top 5px
    .date
      position relative
      left 10px
      font-size 1.3em
      color rgba(0,0,0,0.5)
      text-align center
      span
        position relative
        background-color #fff
        top -28px
    .message
      animation-duration .4s
      -webkit-animation-duration .4s
      white-space normal
      margin-top 6px
      width calc(100% - 18px)
      position relative
      &:after
        content " "
        clear both
        display table
    .cloud
      user-select: auto
      -webkit-user-select auto
      border solid 1px #e2e5e8
      border-radius 5px
      width auto
      position relative
      margin-bottom 4px
      display inline-block
      width 85%
      padding 5px
      line-height 1.5em
      &:after
        content " "
        clear both
        display table
    .time
      user-select: none
      -webkit-user-select none
      float right
      position relative
      color #a7a7a7
      top 7px
      left 3px
      padding 3px
      font-size .9em
    .fa
      user-select: none
      -webkit-user-select none
      position absolute
      bottom 7px
      right 5px
    .my
      background-color #d3f1fd
      float right
      .fa
        position absolute
        left -17px
        opacity .3
        top: 8px
    .other
      background-color #ecf1f6
      margin-left 40px
    .photo
      position absolute
      width 35px
      height 35px
      left -40px
      top 0
      img
        border-radius 50%
        width 100%
        height 100%
    .title
      color rgba(0,0,0,0.5)
      margin-left 44px
  .panel-footer
    background-color #fff
    padding 10px
    width 100%
    height auto
    max-height 300px
    overflow-y scroll
    position absolute
    bottom 0
    .text
      line-height 1.5em
      display inline-block
      box-shadow none !important
      outline none !important
      border none !important
      height auto
      width calc(100% - 70px)
    > .icon
      cursor pointer
      display inline-block
      width 25px
      height 25px
      float right
      font-size 1.5em
      line-height 30px
      text-align center
.smile-dialog
  font-size 1.7em
  background-color #fff
  right 0
  position absolute
  width calc(100% - 10px)
  max-width 400px
  height 250px
  bottom 46px
  padding 5px
  border-radius 5px 0 0 0
  box-shadow 0 0 1px
  .smiles
    width 100%
    height calc(100% - 40px)
    margin-bottom 10px
    overflow-x hidden
    overflow-y scroll
    padding-right 15px
    padding-top 10px
  .groups
    text-align center
    width 100%
    height 25px
    >span
      display inline-block
      height inherit
      cursor pointer
      padding 0 15px
      opacity 0.5
      transition: color .2s
      &.selected
        color #31cdec
        opacity 0.8
  .smile
    display inline-block
    width 24px
    height 24px
    margin 2px
    cursor pointer

//диалог  во весь экран
#dialog.full
  width 800px
  height 700px
  max-width calc(100% - 310px)
  max-height calc(100% - 60px)


.notifications
  z-index 10
  position fixed
  top 43px
  right 5px
  width 250px
  font-size .9em
  line-height .9em
  opacity .9

@media screen and (max-width: 768px)
  #chats
    top 0 !important
    bottom auto !important
    right -270px
  #btn-chat
    bottom 0 !important
    top auto !important
  #dialog
    width 100%
    height 47%
    position fixed
    right 0
    left 0
    top auto
    bottom 0 !important
    border-radius 0
    div
      border-radius 0
    .panel-heading
      z-index 10
      height 40px !important
      .full
        display none !important
    .panel-body
      top 10px !important
      height calc(100% - 100px) !important
    .panel-footer
      height 60px !important
      top auto !important
      bottom 0 !important
      .icon
        display none !important
    .smile-dialog
      display none !important
