@import 'nib'

primary = #32373d

#top-panel
  width calc(100% - 41px)
  height 40px
  background-color primary
  position absolute
  top 0
  left 41px
  border-right solid 1px #fff

#tabs-ctrl
  width 100%
  overflow hidden
  overflow-x hidde

#new-tab
  z-index: 3
  position absolute
  left 0
  top 0
  width 41px
  height 40px
  background-color primary
  border-right solid 1px white
  font-size 1.5em
  line-height 40px
  text-align center
  color #fff
  cursor pointer
  border-bottom solid 1px #fff

#tabs
  background-color primary
  width 40px
  height 100%
  position absolute
  top 0
  left 0
  z-index 2
.tab
  z-index 3
  left 500px
  max-width calc(100% - 41px)
  overflow hidden
  white-space nowrap
  cursor pointer
  transition all .5s
  background-color primary
  width 40px
  height 40px
  padding 5px
  color #fff
  font-size 1.3em
  display block
  line-height 30px
  position fixed
  border-bottom solid 1px #fff
  .trans
    top 0
    left 0
    background-color transparent
    width 40px
    height 40px
    position absolute
  &.select
    background-color #fff
    color primary
  > span
    display inline-block
    vertical-align top
  .icon
    display inline-block
    width 30px
    text-align center
    cursor pointer
    position relative
    .fa
      position absolute
      top 5px
      left 5px
      opacity 0
      transition opacity .3s
    .fa-refresh
      top 6px
      left 7px
  .icon .fa:not(:last-child)
    opacity 1
  &.open:hover
    .icon .fa:not(:first-child)
      opacity 1
    .icon .fa:not(:last-child)
      opacity 0
  .pull-right
    background-color: inherit
    right -10px
    width 35px
    margin 0 10px
    .fa
      opacity .3
      cursor pointer
      transition opacity .2s
      &:hover
        opacity .99
  &.open .pull-right
    position absolute
    text-align center
    top 5px
.tab.open
  border-left solid 1px #fff
  border-bottom none !important
#frames
  position fixed
  top 41px
  left 41px
  width calc(100% - 82px)
  height calc(100% - 41px)
  padding-top 10px
  overflow hidden !important
  iframe
    position absolute
    width 100%
    height 100%
    min-width: 100%;
    width: 100px;
@media screen and (max-width: 768px)
  #top-panel
    display none
  #frames
    left 0 !important
    width 100% !important
    top 0 !important
    overflow-y scroll !important
    -webkit-overflow-scrolling touch
    iframe
      overflow-y scroll !important
      -webkit-overflow-scrolling touch
  #tabs
    display none
  .tab
    top auto !important
    bottom 0 !important
    display block !important
    border-right solid 1px #fff
    > span
      display none
    .icon
      display block
      width 100%
      text-align center
