@import 'nib'

primary = #32373d

.no-select
  user-select none
  user-drag none

.window
  box-shadow 0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset
  z-index 3
  overflow hidden
  border-top solid 1px #fff
  overflow hidden
  white-space nowrap
  padding 1px
  background-color primary
  width 40px
  height 40px
  left 0
  color #fff
  font-size 1.3em
  display inline-block
  line-height 30px
  position fixed
  @media screen and (max-width: 768px)
    display none
  header
    padding 5px
    cursor pointer
    width 100%
    height 40px
    .trans
      top 0
      left 0
      background-color transparent
      width 40px
      height 40px
      position absolute
    &.select
      background-color #fff
      color primary
    > span
      display inline-block
      vertical-align top
    .icon
      display inline-block
      width 30px
      text-align center
      cursor pointer
      position relative
      .fa
        position absolute
        top 5px
        left 5px
        opacity 0
        transition opacity .3s
      .fa-refresh
        top 6px
        left 7px
    .icon .fa:not(:last-child)
      opacity 1

.window.opend
  position fixed
  width auto
  height auto
  background-color primary
  &:hover
    header
      .icon .fa:not(:first-child)
        opacity 1
      .icon .fa:not(:last-child)
        opacity 0
  header
    .pull-right
      background-color: inherit
      position absolute
      right 0
      top 0
      width 40px
      height 40px
      text-align center
      margin-right 0
      &:hover
        i.fa
          opacity .99
      i.fa
        position relative
        top 4px
        opacity .3

.window
  .frame
    background-color #fff
    width auto
    height auto
.window.transition
  transition all .3s

.under-frame
  width 100%
  height 100%
  position absolute
  z-index 99
