html
body
  background: transparent !important;
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: visible;
a
div[href],
span[href],
i[href] {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	color: #337ab7;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.panel-primary .panel-heading span[href],
.panel-primary .panel-heading i[href] {
	color: #fff;
}
*[contenteditable] {
    -webkit-user-select: auto !important;
}
.modal-fw {
	z-index: 2000;
	.modal-dialog {
		max-width: calc(100% - 40px);
		display: block;
		width: 1040px;
		transform: none !important;
		transition: opacity .5s;
		opacity: 0;
		.modal-body {
			width: 100%;
			height: auto;
			min-height: 300px;
		}
	}
	iframe {
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		.modal-dialog  {
			max-width: calc(100% - 6px);
			margin: 3px;
			.modal-body {
				padding: 2px;
			}
		}
	}

}

.modal-backdrop {
	text-align: center;
	line-height: 500px;
	i.fa {
		color: #337ab7;
		font-size: 40px;
		width: 40px;
		height: 40px;

	}
}


#fw-full-back {
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 3000;
	top:0px;
	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
	.close {
		position: absolute;
		top:0px;
		right: 10px;
		font-size: 3em;
		color: #fff;
		opacity: .8 !important;
		&:over {
			opacity: 1 !important;
		}
	}
}

iframe
	border none
label
	user-select: none;
