body
  font-family 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif

.animated
  animation-duration .5s

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak
.x-ng-cloak
  display none !important

.btn
  padding: 5px 10px
  border-radius 2px

.tooltip
  position fixed !important


.panel-pult
  .panel-body
    height 300px
    overflow-y scroll
    overflow-x hidden
    @media screen and (max-width: 768px)
      height auto
      overflow-x auto
      overflow-y auto

.panel
  border-radius 2px
  .panel-heading
    border-radius 0
    padding: 7px 10px;
    position: relative;
  .panel-body
    border-radius 0
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    .list-group-item
      white-space: nowrap;
      .block-right
        background-color: inherit;
  .panel-body.list-group
    .list-group-item
      min-height: 31px;
      padding: 5px;
  &.panel-search
    .panel-heading
      padding-left: 30px
      .search
        position: absolute;
        top:3px;
        left: 5px;
        background-color: transparent;
        height: 22px;
        width: 100%;
        max-width: calc(100% - 50px);
        overflow: hidden;
        i
          vertical-align: top;
          display: inline-block;
          width: 22px;
          position: relative;
          top:3px;
          text-align: center;
          cursor: pointer;
        input
          width: calc(100% - 24px);
          display: none;
          height: 22px;
          background-color: transparent;
          box-shadow: none !important;
          outline: none !important;
          border: none;
          &:focus
            box-shadow: none;
        &.active
          width: calc(100% - 40px);
          input { display: inline-block; }


.form-control {
  padding: 5px 10px;
  border-radius 2px
}

.bootstrap-tagsinput {
  padding: 5px 10px;
  border-radius 2px
  display: block;
  width: 100%;
  .tag {
    background-color:#337ab7;
  }
}

.toggle.btn {
  display: block;
}
.bootstrap-select.open {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  .dropdown-menu.open {
    border-radius: 0px 0px 2px 2px !important;
    margin-top: 0px !important;
    -webkit-user-select: none;
    user-select:none;
  }

}
.bootstrap-select {
  .btn {
    &:focus {
      border-color: #66afe9;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      outline: none !important;
    }
  }
}



.modal
  .modal-dialog
    .modal-content
      border-radius 2px
      .modal-header
        overflow hidden
        background-color: #337ab7;
        color: white;
        padding: 10px 10px;
        white-space: nowrap;
        .modal-title
          font-size: 16px;
          overflow: hidden;
        .close
          background-color inherit
          color: white;
          opacity: 0.8;
          width 50px
          height 41px
          position absolute
          right 0
          top 2px
          &:hover
            opacity: 1;

.block-right {
  float: right;
  display: block;
  min-width: 40px;
  height: 30px;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
  top: 0;
  right: 0;
}
.block-left {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
  top: 0;
}
.list-group-item .block-right
  margin-right -10px
.list-group-item .block-left {
  top:-5px;
}

@media screen and (max-width: 768px) {
  .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
