.static {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

.pjax {
	transition: transform .5s, opacity .5s;
	opacity: 1;
	transform: translate(0, 0);
	&.in {
		transform: translate(0, 300px);
		opacity: 0;
	}
	&.out {
		transition: transform 0.7s, opacity .7s;
		transform: translate(300px, 0);
		opacity: 0;
		top:0;
	}
}

#pjax-modal {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 500px;
	
}

#pjax-modal .back {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: opacity .5s;
}

#pjax-modal .in {
	opacity: 0.8;
}

#pjax-modal .dialog {
	background-color: #fff;
	margin-top: 40px;
	position: relative;
	padding: 10px;
	border-radius: 4px;
	display: none;
	transform: none;
	opacity: 1;
	transition: transform .6s, opacity .5s;
	&.out {
		//transform: rotateY(90deg);
		transform: scale(2);
		opacity: 0;
	}
	&.in {
		transform: translate(0, 200px);
		opacity: 0;
	}
	
}

#pjax-modal .dialog .content {
	min-height: 200px;
	margin-top: 15px;
}

#pjax-modal header {
	font-size: 1.2em;
	padding: 2px 10px;
	min-height: 40px;
	line-height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#pjax-modal .remove {
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
	display:inline-block;
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: left;
	line-height: 60px;
	opacity: .6;
	overflow: hidden;
	-webkit-user-select: none;
	user-select:none;
}
#pjax-modal .remove:hover {
	opacity: 1;
}

#pjax-modal .dialog > footer {
	
}
